@using BlazorServer2.Data;
@using BlazorServer2.Models;
@using BlazorServer2.Models.DTOs;
@using Microsoft.AspNetCore.Identity.UI.Services;
@inject ApplicationDbContext _context



<div class="row w-100">
    @* for spacing *@
    <div class="col-md-2" />

    <div class="col-md-8">
        <div class="blog-post">
            <div class="row w-100 border-bottom">
                <div class="col-sm-12 w-100 p-2">
                    <small>
                        Author: @BlogPostDemo.PostAuthor Written: @BlogPostDemo.DateCreated.ToShortDateString()
                    </small>
                </div>
            </div>
            <div class="row w-100 border-bottom">
                <div class="txt w-100">
                    <h2>@BlogPostDemo.PostTitle</h2>
                    <p>
                        @((MarkupString)BlogPostDemo.PostHtmlContent)
                    </p>
                </div>
            </div>
            <div class="w-100 justify-content-end">
                <div>
                    <SharePostEmail HtmlContent="@BlogPostDemo.PostHtmlContent"
                                    HeaderSubject="@BlogPostDemo.PostTitle" />
                </div>
            </div>
        </div>
    </div>

    @* for spacing *@
    <div class="col-md-2" />
</div>

<div class="spacer" />

@code {
    [Parameter]
    public BlogPost BlogPostDemo { get; set; } = default!;
}
